[Unit]
Description=Nanosoft AI Model (FastAPI)
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/ask-ai/ask-ai/nanosoft-ai-backend
ExecStart=/home/ubuntu/ask-ai/ask-ai/nanosoft-ai-backend/.venv/bin/uvicorn app.main:chatbot_app --host 0.0.0.0 --port 8001
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target