# nanosof-ai-frontend .gitignore
nanosoft-ai-frontend/node_modules
nanosoft-ai-frontend/.pnp
nanosoft-ai-frontend.pnp.js
demo.py
nanosoft-ai-frontend/DIGIRETT-LAYOUT-IMPLEMENTATION-PHASES.md 
# testing
nanosoft-ai-frontend/coverage

# next.js
nanosoft-ai-frontend/.next/
nanosoft-ai-frontend/out/

# production
nanosoft-ai-frontend/build

# misc
nanosoft-ai-frontend/.DS_Store
nanosoft-ai-frontend/*.pem

# debug
/nanosof-ai-frontend/npm-debug.log*
nanosoft-ai-frontend/yarn-debug.log*
nanosoft-ai-frontend/yarn-error.log*

# local env files
nanosoft-ai-frontend/.env*.local
nanosoft-ai-frontend/.env

# vercel
nanosoft-ai-frontend/.vercel

# typescript
nanosoft-ai-frontend/*.tsbuildinfo
nanosoft-ai-frontend/next-env.d.ts

# nanosof-ai-backend .gitignore
nanosoft-ai-backend/sql
nanosoft-ai-backend/.env
nanosoft-ai-backend/.venv/*
nanosoft-ai-backend/.venv
nanosoft-ai-backend/venv/*
nanosoft-ai-backend/venv
nanosoft-ai-backend/files
nanosoft-ai-backend/tests/__pycache__/*
nanosoft-ai-backend/__pycache__/*
nanosoft-ai-backend/app/__pycache__/*


nanosoft-ai-backend/app/venv
nanosoft-ai-backend/app/.env

nanosoft-ai-backend/app/api/__pycache__/*
nanosoft-ai-backend/app/api/database/__pycache__/*
nanosoft-ai-backend/app/api/models/__pycache__/*
nanosoft-ai-backend/app/api/routes/__pycache__/*
nanosoft-ai-backend/app/api/routes/__pycache__/*

nanosoft-ai-backend/app/config/__pycache__/*
nanosoft-ai-backend/app/models/__pycache__/*
nanosoft-ai-backend/app/prompts/__pycache__/*
nanosoft-ai-backend/app/services/__pycache__/*
nanosoft-ai-backend/app/tools/__pycache__/*
nanosoft-ai-backend/migrate_user.log

nanosoft-ai-backend/app/sync_engine.log
nanosoft-ai-backend/sync_engine.log
nanosoft-ai-backend/tests/api/routes/__pycache__/
nanosoft-ai-backend/tests/services/__pycache__/
nanosoft-ai-backend/tests/tools/__pycache__/
nanosoft-ai-backend/app/services/sync/__pycache__/*
nanosoft-ai-backend/app/agents/__pycache__/*
nanosoft-ai-backend/app/agents/prompts/__pycache__/*