# nanosof-ai-frontend .gitignore
/nanosof-ai-frontend/node_modules
/nanosof-ai-frontend/.pnp
/nanosof-ai-frontend.pnp.js

# testing
/nanosof-ai-frontend/coverage

# next.js
/nanosof-ai-frontend/.next/
/nanosof-ai-frontend/out/

# production
/nanosof-ai-frontend/build

# misc
/nanosof-ai-frontend/.DS_Store
/nanosof-ai-frontend/*.pem

# debug
/nanosof-ai-frontend/npm-debug.log*
/nanosof-ai-frontend/yarn-debug.log*
/nanosof-ai-frontend/yarn-error.log*

# local env files
/nanosof-ai-frontend/.env*.local
/nanosof-ai-frontend/.env

# vercel
/nanosof-ai-frontend/.vercel

# typescript
/nanosof-ai-frontend/*.tsbuildinfo
/nanosof-ai-frontend/next-env.d.ts

# nanosof-ai-backend .gitignore

/nanosof-ai-backend/.env
/nanosof-ai-backend/venv/*
/nanosof-ai-backend/venv
/nanosof-ai-backend/files